{% load i18n %}{% autoescape off %}
{% blocktranslate %}Вы получили это письмо, потому что запросили сброс пароля для аккаунта на {{ site_name }}.{% endblocktranslate %}


{% translate "Перейдите по ссылке и задайте новый пароль:" %}
{{ protocol }}://{{ domain }}{% url 'users:password_reset_confirm' uidb64=uid token=token %}


{% translate 'Ваш логин:' %} {{ user.get_username }}


{% translate "Спасибо, что используете наш сайт!" %}


{% blocktranslate %}Команда {{ site_name }}{% endblocktranslate %}
{% endautoescape %}
