{% load static %} <!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>PinkStore | Мой Магазин</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body class="{% if request.COOKIES.theme == 'dark' %}dark-theme{% else %}light-theme{% endif %}"></body>
    <header class="site-header">
        <h1>🛍️ PinkStore 💅</h1>
        <nav>
            <a href="{% url 'catalog:home' %}" class="nav-link">Главная</a>
            <a href="{% url 'catalog:product_list' %}" class="nav-link">Каталог</a>
            <a href="{% url 'catalog:cart_view' %}" class="nav-link">Корзина</a>


            {% if request.user.is_authenticated %}
                <span style="margin-left: 20px;">Привет, <strong>{{ request.user.username }}</strong>! 🌸</span>
                <a href="{% url 'users:profile' %}" class="nav-link">Личный кабинет</a>
                
                <form action="{% url 'users:logout' %}" method="post" style="display: inline; margin-left: 10px;">
                    {% csrf_token %}
                    <button type="submit" style="background: none; border: 1px solid #ff1493; color: #ff1493; padding: 5px 10px; cursor: pointer; border-radius: 5px;">
                        Выйти
                    </button>
                </form>
            {% else %}
                <a href="{% url 'users:login' %}" class="nav-link" style="margin-left: 20px;">Войти</a>
                <a href="{% url 'users:register' %}" class="nav-link">Регистрация</a>
            {% endif %}

           <a href="{% url 'catalog:toggle_theme' %}" class="nav-link" style="margin-left: 20px;">
                {% if request.COOKIES.theme == 'dark' %}
                Светлая тема
                {% else %}
                Тёмная тема
                {% endif %}
            </a>

        </nav>

    </header>

    <main class="container">
        {% block content %}
        {% endblock %}
    </main>

    <footer class="site-footer">
        <div class="container">
            <p>ОРИС PINKSTORE!!!</p>
        </div>
    </footer>

</body>
</html>