{% extends 'base.html' %}
{% load static %}
{% block content %}
    <h2>Наш ассортимент</h2>

    <div class="category-filters" style="margin-bottom: 20px;">
        <strong>Категории:</strong>
        {% for cat in categories %}
            <span class="category-badge" style="background: #ffb6c1; padding: 5px 10px; border-radius: 15px; margin-right: 10px; font-size: 14px;">
                {{ cat.name }}
            </span>
        {% endfor %}
    </div>

    <div class="products-grid">
        {% for item in products %}
            <div class="product-card">
                    <small style="color: #888;">{{ item.category.name }}</small>
                <h3>
                    <a href="{% url 'catalog:product_detail' item.id %}" style="text-decoration: none; color: #ff1493;">
                        {{ item.title }}
                    </a>
                </h3>
                {% if item.image_path %}
                <div style="margin: 10px 0;">
                <img src="{% static item.image_path %}"
                alt="{{ item.title }}"
                style="max-width: 100%; max-height: 180px; border-radius: 8px;">
                </div>
                {% endif %}

                <p class="price">{{ item.price }} ₽</p>
                {% if item.is_available %}
                    <p class="stock-yes">В наличии</p>
                {% else %}
                    <p class="stock-no">Нет в наличии</p>
                {% endif %}

            </div>
        {% endfor %}
    </div>
{% endblock %}
